.div-block-102 {
   margin-bottom: 10px !important;
  padding-right: 5px !important;
  padding-left: 5px;
  }
  .image-23 {
    margin-right: 5px !important;
    margin-left: 10px !important;
  }
  img {
      cursor: pointer;
  }
  .error{
    border: 1px solid #E04859;
  }
  .class-header {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .w-form-fail{
    &.block {
      display: block !important;
    }

  }
  .profile-pic{
    border-radius: 50%;
  }
  .image-5 {
    height: 170px;
  }
  .trailer {
    background-image: none;
  }
  .profile-card{
    display: flex;
  }
  ._40px-pad-wrap.stretch {
    overflow: auto;
    height: 100%;
  }
  .checkbox {
    font-size: 18px;
  }
  .wordmark {
    height: 32px;
    .cls-1 {
      fill: #22283a;
    }

    .cls-2 {
      fill: #e04859;
    }

    .cls-3 {
      fill: #ebcb4d;
    }

    .cls-4 {
      fill: #3ea7f4;
    }
  }
  .fb-icon {
    height: 18px;
    .cls-1 {
      fill: #fff;
    }
  }
  .google-icon {
    height: 18px;
    .cls-1 {
      fill: #4285f4;
    }

    .cls-2 {
      fill: #34a853;
    }

    .cls-3 {
      fill: #fbbc05;
    }

    .cls-4 {
      fill: #ea4335;
    }

    .cls-5 {
      fill: none;
    }
  }
  .pwd-icon {
    height: 18px;
    position: relative;
    top: 34px;
    padding-left: 20px;
    &.email {
      height: 12px;
    }
  }
  .text-field-3 {
    padding-left: 45px !important;
  }